#banner {
    border-bottom: none;
    margin-top: 150px;
}

h1 {
    font-size: 500%;
}

h3 {
    margin-top: 40px;
}

.line {
  fill: none;
  stroke:steelblue;
}

.line2{
  fill: none;
  stroke: tomato;
}

.line3{
  fill: none;
  stroke: purple;
}

.line:hover, .line2:hover, line3:hover{
    stroke: brown;
}

.subtitle {
    color: gray;
}

svg {
    margin: auto;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

p {
    text-align: justify;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: steelblue;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

table {
    border-collapse: collapse;
    width: 75%;
    margin: 10px auto;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

